* {
  box-sizing: border-box;
  color: #333;
}
* .error-svg > path {
  color: #c41c1c;
}

body {
  background-image: url(https://img.freepik.com/premium-photo/black-gold-image-black-orange-abstract-background_662214-135091.jpg);
  /* background-repeat: no-repeat; */
  background-size: 100%;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

#root {
  display: inline;
}

header {
  width: 100%;
  height: 10%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: 100px;
  margin: 20px;
}

.greeting {
  color: white;
  margin: 0px 10px;
  text-decoration: underline;
}

.button-parent {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-parent > .details-button {
  margin: 40px;
  align-self: start;
}

.button-parent button {
  background-color: white;
  color: black;
  border: 2px solid black;
  margin: 0 10px;
  box-shadow: 5px 5px 5px black;
}

.button-parent button:hover {
  background-color: #c0c0c0;
}

.button-parent .comment-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin: 0 3px;
  height: 30px;
  box-shadow: none;
}

.button-parent .search-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  margin: 0;
  height: 40px;
  box-shadow: none;
}

.post-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 1200px;
  margin: 70px 0;
  padding: 20px 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px black;
}
.post-details button {
  width: 100px;
}

.post-comments {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin: 40px;
  color: black;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

.post-comments > button {
  margin: 15px 0 10px 0;
  align-self: center;
  width: 100px;
}

.comment-card {
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  margin: 10px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
}

.comment-author {
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
}

.comment-text {
  margin: 0px;
  margin-left: 10px;
}

.details-title {
  align-self: flex-start;
  justify-self: flex-start;
  height: 40px;
  padding: 0 30px;
}

.details-content {
  align-self: flex-start;
  justify-content: center;
  font-size: large;
  height: auto;
  margin: 40px 100px;
}

.details-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  font-size: large;
  height: 100px;
  width: 100%;
  padding: 0px 30px;
  /* margin: 10px; */
}

.details-info:only-child {
  width: 100px;
}

.details-info button {
  background-color: white;
  color: black;
  height: 30px;
  border: 1px solid gray;
}

.details-info button:hover {
  background-color: rgb(222, 222, 222);
  border: 1px solid gray;
}

.details-info p {
  margin-left: 7px;
  font-size: larger;
}

.post-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin: 30px 50px;
  height: 250px;
  width: 600px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px black;
}

.post-card:hover {
  background-color: #d9d6d6;
  cursor: pointer;
}

.card-banner {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 30%;
  height: 250px;
}

.card-info {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  flex-direction: column;
}

.card-title {
  margin: 0;
  height: 80px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #111827;
}

.card-description {
  margin: 0;
  font-weight: 400;
  color: #374151;
}

.card-other {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-other p {
  margin: 0 0px;
  margin-top: 50px;
}

.card-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-user svg {
  margin-right: 5px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
  justify-content: center;
  align-items: center;
}

.posts-limit {
  width: 140px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: white;
}

.posts-pagination {
  height: 60px;
  padding: 5px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: white;
}

.posts-pagination > nav {
  padding: inherit;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 100px 0;
}

.control-panel > div {
  margin: 0 100px;
}

.auth {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 100px auto;
}

.auth .details-button {
  background-color: white;
  width: 500px;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}

.auth .details-button:hover {
  background-color: #c0c0c0;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
}

#modal .buttons {
  display: flex;
  justify-content: space-evenly;
}

.delete-post-button {
  justify-self: start;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  padding: 0 30px;
  width: 100%;
}

.input-search {
  margin-right: 95px;
  margin-left: 25px;
}

.markdown {
  height: auto;
}

.markdown img {
  max-width: 400px;
  height: auto;
}

.details-content img {
  max-width: 500px;
  height: auto;
}

.details-info > .child {
  width: 75px;
}

.details-info > .username {
  margin-left: 0px;
  padding-left: 0px;
}
